/*
 1: #011638
 2: #2E294E
 3: #9055A2
 4: #D499B9

 Letters: #00dffc
 */

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --text-primary-color: #00dffc;
    --purple-color: #2E294E;
}

body {
    background-image: linear-gradient(0deg, #011638 10%, #2E294E 70%);
}

#content {
    padding: 20px;
    margin: 10px;
    color: var(--text-primary-color);
}

.section {
    padding: 20px;
}

/* menu style */

header {
    background-image: linear-gradient(315deg, #2E294E 50%, #011638 80%);
    border: 2px solid #00dffc;
    border-radius: 6px;
    border-spacing: inherit;
    opacity: 70%;
}

#menu {
    align-content: center;
    margin-bottom: auto;
    text-align: center;

}

#menu-bar {
    filter: blur(41px);
}

#menu-bar li {
    display: inline;
    margin: 5px;
    text-decoration-style: solid;
}

#menu-bar li a {
    color: var(--text-primary-color);
    text-decoration: none;
}

#menu-bar li a:hover {
    background-color: #00dffc;
    border-radius: 4px;
    color: #011638;
}

ul {
    filter: blur(0) !important;
}

nav li {
    list-style-type: none;
    text-align: center;
    padding: 15px;
    display: inline;
    opacity: 100% !important;
    filter: blur(0) !important;
}

.menu-element {
    transition: transform 0.3s ease;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* center sections */
table.center-prop {
    display: grid;
    place-content: center;
}

#projects, #skills {
    color: var(--text-primary-color);
    text-align: center;
}

/* title style */
h1 {
    text-align: center;
}

/* about me style */

#about {
    display: inline;
    padding: 5px;
    color: var(--text-primary-color);
    width: 40%;
}

#about table td {
    width: 50%;
}

#personal-photo {
    display: inline;
    float: right;
    margin: 5px;
    border: 4px solid #00dffc;
    border-radius: 4px;
}

/* skill style */

.skill {
    border: 1px solid #00dffc;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.project {
    transition: transform 0.3s ease;
}

.skill:hover {
    background-color: #011638;
    color: #00dffc;
}

/* link style */

#links {
    text-align: center;
}

#network-list {
    list-style-type: none;
    margin: 5px;
}

#network-list li {
    display: inline;
    margin: 5px;
}

#network-list li a {
    color: var(--text-primary-color);
    text-decoration: none;
}

#network-list li a:hover {
    background-color: #2E294E;
    border-radius: 4px;
}

/* contact style */

#contact {
    padding: 5px;
}

#contact-form {
    display: inline;
    padding: 5px;
    color: black;
}

footer {
    text-align: center;
    color: var(--text-primary-color);
}

.zoomed {
    transform: scale(1.2); /* Escala del zoom (1.2 es un 20% más grande) */
}
